* {
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: #0000ff;
  color: white; }

::selection {
  background: #0000ff;
  color: white; }

body {
  overflow-x: hidden;
  cursor: url("http://localhost:8080/static/colorwave-1.svg"), auto !important; }

.draggable {
  cursor: url("http://localhost:8080/static/colorwave-1.svg"), auto !important; }

button {
  cursor: url("http://localhost:8080/static/finger.svg"), auto !important; }

.day {
  cursor: url("http://localhost:8080/static/day.svg"), auto !important; }

.night {
  cursor: url("http://localhost:8080/static/night.svg"), auto !important; }

a {
  animation: animate .25s infinite ease-in-out; }

@keyframes animate {
  0% {
    cursor: url("http://localhost:8080/static/colorwave-1.svg"), auto; }
  25% {
    cursor: url("http://localhost:8080/static/colorwave-2.svg"), auto; }
  50% {
    cursor: url("http://localhost:8080/static/colorwave-3.svg"), auto; }
  75% {
    cursor: url("http://localhost:8080/static/colorwave-4.svg"), auto; }
  100% {
    cursor: url("http://localhost:8080/static/colorwave-5.svg"), auto; } }
/* Let's get this party started */
::-webkit-scrollbar {
  width: 30px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-left: 4px solid black; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: black; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

@-webkit-keyframes slide {
  from {
    background-position: 0px; }
  to {
    background-position: 100vw; } }
#app {
  height: 100%;
  width: 100%; }

.header {
  cursor: url(../static/img/thumb.jpg), auto;
  width: 100%;
  background-color: black;
  height: auto;
  position: absolute;
  z-index: 500;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block; }
  .header .top-logo {
    height: 30px;
    padding: 10px 10px 10px 30px;
    float: left; }
  .header #todaysDate {
    color: white;
    float: right;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    padding: 17px 30px;
    font-weight: bold; }

.panel {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-color: white; }
  .panel > .windows {
    z-index: 101; }

.st0 {
  fill: #FFFFFF; }

.st1 {
  fill: #231F20; }

.st2 {
  fill: #010101; }

.box-md {
  position: absolute;
  border: 4px solid black;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 150; }
  .box-md .big-rap {
    display: block;
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 20; }

.box-header {
  position: absolute;
  height: 50px;
  width: 100%;
  border-bottom: 4px solid black;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 21; }
  .box-header h2 {
    text-align: center;
    font-family: "Arial", sans-serif; }

.subtitle {
  margin: 0 0 2em 0; }

.fancy {
  line-height: 50px;
  text-align: center;
  margin: 0 auto; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2.5px solid black;
  border-top: 2.5px solid black;
  top: 41%;
  width: 600px; }

.fancy span:before {
  right: 100%;
  margin: 0 5px; }

.fancy span:after {
  left: 100%;
  margin: 0 5px; }

.title-box {
  margin: 0 77px;
  overflow: hidden; }

.button-section {
  padding: 14px;
  position: absolute;
  top: 0;
  left: 0; }

button.opt {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 4px solid black;
  display: inline-block;
  vertical-align: middle; }
  button.opt.green {
    background-color: #00FF80;
    margin-left: 5px; }
  button.opt.red {
    background-color: #FF0080; }

.psd {
  height: 300px;
  max-width: 700px;
  width: 100%;
  background-color: #CCC;
  background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-size: 20px 20px;
  background-position: 0px 0px, 10px 10px;
  top: 200px;
  margin: 0 auto;
  position: relative;
  z-index: 100; }

.computer-bounce {
  display: none; }

@-webkit-keyframes moveX {
  from {
    left: 0; }
  to {
    left: calc(100vw - 100px); } }
@-moz-keyframes moveX {
  from {
    left: 0; }
  to {
    left: calc(100vw - 100px); } }
@-o-keyframes moveX {
  from {
    left: 0; }
  to {
    left: calc(100vw - 100px); } }
@keyframes moveX {
  from {
    left: 0; }
  to {
    left: calc(100vw - 100px); } }
@-webkit-keyframes moveY {
  from {
    top: 0; }
  to {
    top: 500px; } }
@-moz-keyframes moveY {
  from {
    top: 0; }
  to {
    top: 500px; } }
@-o-keyframes moveY {
  from {
    top: 0; }
  to {
    top: 500px; } }
@keyframes moveY {
  from {
    top: 0; }
  to {
    top: 500px; } }
.logo {
  height: 50px;
  width: 50px;
  z-index: 200px;
  position: fixed;
  padding: 25px 50px; }

.my-applications {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block; }

.desktop {
  width: auto;
  height: auto;
  border: none;
  background: transparent;
  display: inline-block;
  padding: 20px;
  z-index: 100; }
  .desktop .desktop-icon {
    height: 50px;
    width: 50px;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
    border: 1.5px dashed transparent;
    border-radius: 10%; }
  .desktop .nest {
    margin: 0 auto;
    display: table;
    border: 1.5px dashed blue;
    border-radius: 10%;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.5); }
  .desktop p {
    text-align: center;
    padding: 0px 5px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    font-size: 14px; }
  .desktop:focus {
    outline: 0; }
    .desktop:focus .desktop-icon {
      background-color: rgba(0, 0, 255, 0.5);
      border: 1.5px dashed white; }
    .desktop:focus .nest {
      background-color: rgba(0, 0, 255, 0.5);
      border: 1.5px dashed white; }
      .desktop:focus .nest p {
        color: white; }

.wrappa-da-rappa {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); }

#aboutme .wrappa-da-rappa, #eightball .wrappa-da-rappa {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5); }
#aboutme .app-content, #eightball .app-content {
  display: block;
  height: 100%;
  padding-top: 50px; }
  #aboutme .app-content p, #eightball .app-content p {
    font-size: 24px;
    line-height: 1.17em;
    font-weight: bold;
    padding: 25px; }
    #aboutme .app-content p a, #eightball .app-content p a {
      text-decoration: none;
      color: #0000ff !important; }

#eightball .app-content {
  position: relative;
  width: 100%; }
  #eightball .app-content .button-wrapper {
    position: absolute;
    width: 100%;
    bottom: 15%; }
    #eightball .app-content .button-wrapper p {
      color: #FFFF00;
      font-size: 26px; }
  #eightball .app-content .prebee {
    position: relative;
    width: 100px;
    height: 50px;
    z-index: 100;
    margin: 0 auto; }
    #eightball .app-content .prebee:before {
      content: "";
      width: 92px;
      height: 42px;
      background-color: #0000ff;
      border: 4px solid #0000ff;
      position: absolute;
      z-index: -99;
      bottom: -4px;
      left: 4px; }
  #eightball .app-content #answerButton {
    width: 100px;
    height: 50px;
    display: block;
    background-color: white;
    border: 4px solid #0000ff;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #0000ff;
    outline: none;
    position: absolute;
    bottom: 4px;
    left: -4px; }
    #eightball .app-content #answerButton:hover {
      background-color: #0000ff;
      border: 4px solid white;
      color: white;
      bottom: 0px;
      left: 0px; }
  #eightball .app-content .magic-8-ball {
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid white;
    margin: 0 auto;
    position: relative;
    margin-top: 25px; }
    #eightball .app-content .magic-8-ball .da-blue {
      height: 100px;
      width: 100px;
      background-color: #0000ff;
      border-radius: 50%;
      position: absolute;
      top: 70px;
      left: 70px;
      border: 5px solid #5D5D5D; }
      #eightball .app-content .magic-8-ball .da-blue .magic-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 60px 35px 0 35px;
        border-color: black transparent transparent transparent;
        margin: 0 auto;
        margin-top: 25px;
        position: relative; }
        #eightball .app-content .magic-8-ball .da-blue .magic-triangle p.da-answer {
          color: white;
          display: block;
          font-size: 5px;
          font-family: Arial;
          padding: 0;
          position: absolute;
          top: -50px;
          left: -10px;
          text-align: center;
          width: 20px; }

#video .app-content > div {
  display: table;
  height: 100%;
  width: 100%; }
  #video .app-content > div .embed-container {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%; }

.app-content {
  height: 100%;
  width: 100%; }

.windows {
  height: calc(100vh - 50px);
  width: 100vw; }
  .windows #solitare .app-content {
    background: rgba(0, 255, 128, 0.9); }
    .windows #solitare .app-content .button-wrapper {
      position: absolute;
      bottom: 10px;
      width: 100%; }
    .windows #solitare .app-content .prebee {
      position: relative;
      width: 150px;
      height: 50px;
      z-index: 100;
      margin: 0 auto; }
      .windows #solitare .app-content .prebee:before {
        content: "";
        width: 142px;
        height: 42px;
        background-color: #0000ff;
        border: 4px solid #0000ff;
        position: absolute;
        z-index: -99;
        bottom: -4px;
        left: 4px; }
    .windows #solitare .app-content .throwsum {
      width: 150px;
      height: 50px;
      display: block;
      background-color: white;
      border: 4px solid #0000ff;
      font-size: 16px;
      font-family: Arial;
      font-weight: bold;
      color: #0000ff;
      outline: none;
      position: absolute;
      bottom: 4px;
      left: -4px; }
      .windows #solitare .app-content .throwsum:hover {
        background-color: #0000ff;
        border: 4px solid white;
        color: white;
        bottom: 0px;
        left: 0px; }
  .windows #skills .app-content {
    background: rgba(35, 31, 32, 0.9); }
  .windows #music .app-content .button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%; }
  .windows #music .app-content .prebee {
    position: relative;
    width: 150px;
    height: 50px;
    z-index: 100;
    margin: 0 auto; }
    .windows #music .app-content .prebee:before {
      content: "";
      width: 142px;
      height: 42px;
      background-color: #0000ff;
      border: 4px solid #0000ff;
      position: absolute;
      z-index: -99;
      bottom: -4px;
      left: 4px; }
  .windows #music .app-content .play, .windows #music .app-content .pause {
    height: 50px;
    display: inline-block;
    background-color: white;
    border: 4px solid #0000ff;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #0000ff;
    outline: none; }
    .windows #music .app-content .play:hover, .windows #music .app-content .pause:hover {
      background-color: #0000ff;
      border: 4px solid white;
      color: white;
      bottom: 0px;
      left: 0px; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.fade-enter-active {
  animation: bounce-in .5s; }

.fade-leave-active {
  animation: bounce-in .5s reverse; }

@keyframes bounce-in {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  padding: 17px 15px; }

.dropdown.one .dropbtn {
  font-weight: bold; }

/* Dropdown button on hover & focus */
.dropbtn:active {
  background-color: #0000FF; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: left; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial;
  font-size: 20px; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0000FF; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.answerShake {
  animation: hardShake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes hardShake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
.magic-8-ball:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

/*# sourceMappingURL=main.css.map */
